body {
  margin-bottom: 100px;
}

.carousel-indicators li {
  cursor: pointer;
}

div.newsBox {
  width: 18.4%;
  display: block;
  float: left;
  margin-right:2%;
  margin-bottom: 30px;
  padding: 0.5%;
  border-radius: 5px;
}

div.newsBox:nth-child(5n+5) {
  margin-right:0;
}

img.homeNewsImage {
  width: 100%;
  height: 120px;
  object-fit: cover;
  border-radius: 5px;
}

p.homeNewsTitle {
  font-weight: 600;
  color: #404040;
  margin: 10px 5px 5px 5px;
  height: 60px;
}

.menu-item {
  padding: 0 40px;
  margin: 5px 10px;
  user-select: none;
  cursor: pointer;
  border: none;
}
.menu-item-wrapper.active {
  box-shadow: 2px 0px 20px black;
}

.scroll-menu-arrow {
  padding: 20px;
  cursor: pointer;
}
